<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576434898701-n2ekver81jpe05q5sk0d15hrpuc780ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576434898701-n2ekver81jpe05q5sk0d15hrpuc780ul</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576434898701-0ph5ch5k3nmj5j946cd2ed5lehrk83mp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtfjSf8A18ClErsdYQ3pW09Dat19zwDng</string>
	<key>GCM_SENDER_ID</key>
	<string>576434898701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samuel.taskManagement</string>
	<key>PROJECT_ID</key>
	<string>task-management-4fa93</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-4fa93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576434898701:ios:e273af84ea0050ffbd1244</string>
</dict>
</plist>